* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1.2rem;
  font-family: sans-serif;
  background-color: rgba(#000, #000, #000, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 0 0.2rem 0.6rem #0002;
  gap: 9rem;
  width: 100vw;
  /* margin-left: 20vw; */
  /* background-color: #fff; */
}

.divVolver {
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.aVolver {
  margin-top: 2px;
}

.aVolver:hover{
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-right: 8rem;
}

li {
  list-style: none;
  transition: ease-in-out 0.5s;
}

li:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: ease-in-out 0.5s;
  color: #000;
}

a:visited {
  color: #000;
}

.logo {
  background-image: url(../../images/Logo-removebg-preview.png);
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: cover;
  border-radius: 0.6rem;
}

.logo:hover {
  cursor: pointer;
  scale: 1.02;
}

@media (max-width: 1640px) {
  .navbar {
    margin-left: 0;
  }
}

@media (max-width: 1000px) {
  .navbar {
    gap: 3rem;
  }

  ul {
    margin-right: 1rem;
  }
}
