.principal {
  font-family: sans-serif;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(4px);
  height: calc(100vh - 60px);
  border-radius: 10px;
}

article {
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  transition: all 0.3s;
  cursor: pointer;
}

article:hover {
  box-shadow: 0 0.2rem 0.6rem #0005;
  background-color: rgba(255, 255, 255, 0.6);
}

article h1 {
  font-size: 2.2em;
  color: #222;
}

article p {
  font-size: 1.1rem;
  color: #222;
}

@media (max-width: 768px) {
  article {
    width: 95%;
  }
}
