.principal {
  /* background-color: blue; */
  font-family: sans-serif;
  background-image: url("../../images/christoffer-voss-RrtAqhtdJVE-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-color: #f2f2f2;
  height: 100vh;
}

.section {
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  text-align: center;
}

article {
  /* background-color: red; */
  width: 60%;
}

article h1 {
  font-size: 2.5em;
  color: #1a1a1a;
  margin-bottom: 20px;
}

article p {
  font-size: 1.4rem;
  color: #1a1a1a;
  margin-bottom: 20px;
}
